/* behavior for all */
html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.messageError
{
    color:red;
    font-size: 12px;
    font-weight:bold;
    position: relative;
    text-align: center;
    top:350px;
    z-index:3;
}
/* style for index.php */
.bg {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg_img/background.jpg');
    height: 100vh;
}


.navbar {
    padding-right: 4%;
    padding-top: 4%;
    text-align: right;

}

.navbar a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 13px;


}

.section-1-text {

    padding-top: 15%;
    margin: 0 auto;
    text-align: center;
}

.section-1-text h1 {
    color: white;
    border-bottom: 1px solid white;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: 50px;
}

.section-1-text h3 {
    font-size: 25px;
    color: whitesmoke;
}

.button-register {
    font-size: 15px;
    background-color: #26A6A6;
    width: 10%;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* all the style fot the main */
.viewport-2 {
    height: 100vh;
    margin: 0;
    background-color: white;


}
.section-2-text {

    padding-top: 5%;
}

.section-2-text h1 {
    text-align: center;
    font-size: 50px;
}

/* BACKGROUND FOR LOGIN/REGISTER */
.bgImg
{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg_img/background.jpg');
}
.opacityLayer
{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.8);
    z-index: 1;
}
/* FORM LOGIN/REGISTER */
.formContainer
{
    width:40%;
    height:75%;
    background: #ffffff;
    position: relative;
    left:30%;
    top:12.5%;
}
.formHeader
{
    background-color: #26A6A6;
    width:100%;
    height:20%;
}
.formHeaderText
{
    position: relative;
    top:40%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:white;
}
.formInput
{
    background:#DDDDDD;
    position: relative;
    width:60%;
    height:7%;
    left:20%;
    top:100px;
    margin-bottom: 30px;
    border-radius:27px;
    text-align: center;
    border:2px solid transparent;
    outline:none;  
    font-size:20px;
    transition: 0.2s ease-in-out;
}
.formSubmit
{
    background:#26A6A6;
    position: relative;
    width:60%;
    height:7%;
    left:20%;
    top:140px;
    margin-bottom: 50px;
    border-radius:27px;
    text-align: center;
    border:none;
    outline:none; 
    font-size: 20px;
    color:white; 
}
.formSubmit:hover
{
    Background: #26a691;
}
#forgottenPass
{
    font-size: 12px;
    text-decoration: none;
    position: relative;
    bottom: 30px;
    left:54%;
    color:#26a6A6;
}
#forgottenPass:hover
{
    color:darkblue;
}
.formFooter
{
    width:100%;
    height:20%;
    position: relative;
    top: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formFooterText
{
    font-size: 18px;
    color: #888888;
}
#signUp
{
    font-size: 15px;
    text-decoration: none;
    color:#26a6A6;
}
#signUp:hover
{
    color:darkblue;
}

/* specific for register positioning */
.contentReplacer
{
    width:100%;
    height:100%;
    position: relative;
    bottom:80px;
}
.registerSubmit
{
    position: relative;
    top:105px;
}
.selectContainer
{
    position:relative;
    width:100%;
    height:10%;
    left:6.5%;
    top:45px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

/* media quesry's for index.php */
@media only screen and (max-width: 600px) {

    .container-hamburger{
        padding: 20px;

    }
   
    .hamburger-icon {
        
        width: 35px;
        height: 5px;
        background-color: whitesmoke;
        margin: 6px;
        margin-left: auto;
    }

    .navbar {
        display: none;
    }



    .section-1-text {

        padding-top: 25%;
        margin: 0 auto;
        text-align: center;
    }

    .section-1-text h1 {
        color: white;
        border-bottom: 1px solid white;
        width: 65%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-size: 30px;
    }

    .section-1-text h3 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        font-size: 20px;
        color: whitesmoke;
    }


    .button-register {
        font-size: 15px;
        background-color: #26A6A6;
        width: 45%;
        color: white;
        padding: 15px 15px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

}

@media only screen and (min-width: 600px) {




    .navbar {
        display: block;
    }

    .section-1-text {

        padding-top: 12%;
        margin: 0 auto;
        text-align: center;
    }

    .section-1-text h1 {
        color: white;
        border-bottom: 1px solid white;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-size: 40px;
    }

    .section-1-text h3 {
        font-size: 25px;
        color: whitesmoke;
    }


    .button-register {
        font-size: 25px;
        background-color: #26A6A6;
        width: 15%;
        color: white;
        padding: 20px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }





}

@media only screen and (min-width: 992px) {

    .navbar {
        display: block;
    }

    .section-1-text {

        padding-top: 12%;
        margin: 0 auto;
        text-align: center;
    }

    .section-1-text h1 {
        color: white;
        border-bottom: 1px solid white;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        font-size: 40px;
    }

    .section-1-text h3 {
        font-size: 25px;
        color: whitesmoke;
    }


    .button-register {
        font-size: 25px;
        background-color: #26A6A6;
        width: 15%;
        color: white;
        padding: 20px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }




} 


 